<?xml version="1.0" encoding="utf-8"?>
<androidx.constraintlayout.widget.ConstraintLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context=".MainActivity">

    <Button
        android:id="@+id/exercise"
        android:layout_width="0dp"
        android:layout_height="0dp"
        android:layout_marginStart="82dp"
        android:layout_marginTop="226dp"
        android:layout_marginEnd="64dp"
        android:layout_marginBottom="44dp"
        android:text="운동"
        app:layout_constraintBottom_toTopOf="@+id/shopping"
        app:layout_constraintEnd_toStartOf="@+id/calorie"
        app:layout_constraintStart_toStartOf="parent"
        app:layout_constraintTop_toTopOf="parent" />

    <Button
        android:id="@+id/calorie"
        android:layout_width="0dp"
        android:layout_height="0dp"
        android:layout_marginEnd="65dp"
        android:layout_marginBottom="44dp"
        android:text="칼로리"
        app:layout_constraintBottom_toTopOf="@+id/wellbeing"
        app:layout_constraintEnd_toEndOf="parent"
        app:layout_constraintStart_toEndOf="@+id/exercise"
        app:layout_constraintTop_toBottomOf="@+id/memo" />

    <Button
        android:id="@+id/memo"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_marginTop="65dp"
        android:layout_marginEnd="80dp"
        android:layout_marginBottom="113dp"
        android:text="memo"
        app:layout_constraintBottom_toTopOf="@+id/calorie"
        app:layout_constraintEnd_toEndOf="parent"
        app:layout_constraintTop_toTopOf="parent" />

    <Button
        android:id="@+id/shopping"
        android:layout_width="0dp"
        android:layout_height="0dp"
        android:layout_marginStart="82dp"
        android:layout_marginEnd="64dp"
        android:layout_marginBottom="161dp"
        android:text="쇼핑"
        app:layout_constraintBottom_toBottomOf="parent"
        app:layout_constraintEnd_toStartOf="@+id/wellbeing"
        app:layout_constraintStart_toStartOf="parent"
        app:layout_constraintTop_toBottomOf="@+id/exercise" />

    <Button
        android:id="@+id/wellbeing"
        android:layout_width="0dp"
        android:layout_height="0dp"
        android:layout_marginEnd="65dp"
        android:layout_marginBottom="161dp"
        android:text="웰빙"
        app:layout_constraintBottom_toBottomOf="parent"
        app:layout_constraintEnd_toEndOf="parent"
        app:layout_constraintStart_toEndOf="@+id/shopping"
        app:layout_constraintTop_toBottomOf="@+id/calorie" />
</androidx.constraintlayout.widget.ConstraintLayout>